.container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 4rem auto;
  font-size: 3rem;
  color: #f66667;
}
.row {
  display: flex;
  margin: auto;
  text-align: center;
}
.player--1,
.player--2 {
  width: 50%;
  font-size: 1.6rem;
  color: #3c3c3c;
}
img {
  width: 200px;
}

.output {
  margin: 1rem auto;
  text-align: center;
  font-size: 2.2rem;
  color: #3c3c3c;
}

.toss {
  margin: 3rem auto;
  width: 70%;
  height: 60px;
  font-size: 2rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #f66667;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
}

.toss:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.toss:active {
  color: rgb(213, 213, 213);
}

.toss:active:after {
  background: transparent;
}

.toss:hover:before {
  opacity: 1;
}

.toss:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 640px) {
  .player--1,
  .player--2 {
    width: 50%;
    font-size: 1.2rem;
  }
  img {
    width: 130px;
  }
  .toss {
    width: 90%;
  }
}
